<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class='table-responsive'>
        <table class='table'>
            <thead>
                <tr>
                   
                    <th>Project</th>
                    <th>Langauge</th>
                    <th>Coverage</th>
                    <th>Framework</th>
                    <th>CI</th>
                    <th>Link</th>
                    

                </tr>
            </thead>
            <tbody>
               
                   <tr>
                    <td>IEOS UI Automation</td>
                    <td>Python</td>
                    <td>20%</td>
                    <td>Pycharm</td>
                    <td>Yes</td>
                  </tr>
                  <tr>
                    <td>IEOS API Automation</td>
                    <td>C#</td>
                    <td>20%</td>
                    <td>Visual Studio</td>
                    <td>Yes</td>
                  </tr>
                  <tr>
                    <td>IDES API Automation</td>
                    <td>Java</td>
                    <td>100%</td>
                    <td>Visual Studio</td>
                    <td>No</td>
                  </tr>
                 
            </tbody>
        </table>
    </div>

      
  </div> 
   
  </div>
  <div class="card">
    <div class="card-header">
      Tools
    </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class='table-responsive'>
        <table class='table'>
            <thead>
                <tr>
                   
                    <th>Project</th>
                    <th>Langauge</th>
                    <th>Coverage</th>
                    <th>Framework</th>
                    <th>CI</th>
                    <th>Link</th>
                    

                </tr>
            </thead>
            <tbody>
               
                  <tr>
                    <td>ImageToBase64</td>
                    <td>C#</td>
                    <td>100%</td>
                    <td>Visual Studio</td>
                    <td>No</td>
                  </tr>
                  <tr>
                    <td>QA Lab</td>
                    <td>Type Script</td>
                    <td>100%</td>
                    <td>Visual Studio</td>
                    <td>No</td>
                  </tr>

            </tbody>
        </table>
    </div>

      
      
</div>
